#a1{
    background-color: green;
    width: 50px;
    height:50px;
     width: 50px;
        height: 50px;
        border: 1px solid red;
        display: inline-block;
}
#a2{
    background-color:red;
    width: 50px;
    height: 50px;
    /* display: none; tetnaha lhamra twali lkhdhra les9a fil kahla */ 
    visibility: hidden;
    /* visibility bech tetnaha lhamra ama trassage mteeha yo93ed */

     width: 50px;
        height: 50px;
        border: 1px solid red;
        display: inline-block;
}
#a3{
    background-color:black;
    width: 50px;
    height: 50px;
     width: 50px;
        height: 50px;
        border: 1px solid red;
        display: inline-block;
}
p{
    display: inline;
}